{% extends 'cliniq/base.html' %}
{% block content %}

{% include 'cliniq/navbar.html' %}
<div class="container">
  <button class="btn btn-light btn-lg btn-block" type="submit"style=" margin-top : 20px;">
    <a class ="nav-link" href="{% url "patients" %}" ><i class="fas fa-times"><- Retourner</i></a>
  </button>
   <form  method="post" action="">
      {% csrf_token %}
     <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
             
              <h3 class="mb-5">Ajouter une patient</h3>
              <div class="form-outline mb-4">
               {% for field in form %}
             <div class="form-group">
                <label for="{{ field.id_for_label }}">{{field.label}} :</label>
                {{field}}
                {% for error in field.errors %}
                    <span class="help-block" style="color:red">{{error}}</span>
                {% endfor %}
            </div>
           {% endfor %}
           </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Ajouter</button>
              
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    {% endblock  %}