{% extends 'cliniq/base.html' %} {% block content %}

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              Tu veut supprimer ce utilisateur ?

              <input
                class="btn btn-danger btn-sm px-3"
                type="submit"
                type="submit"
                value="Oui"
              />

              <button
                type="button"
                class="btn btn-secondary btn-sm px-3"
                type="submit"
              >
                <a class="nav-link" href="{% url 'dashbord' %}">NO</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
